# compiled output
build
node_modules

# Logs
logs
*.log
npm-debug.log*
pnpm-debug.log*

# Tests
/coverage

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*code-workspace

# env configuration
.env